.page404 {
  width: 100%;
  @extend .flex;
  @extend .flex-wrap;
  @extend .flex-v-center;
  @extend .flex-c-center;
  @extend .flex-h-center;
  position: relative;
  padding: 100px 0;
  background: $COLOR_BLUE;
  min-height: calc(var(--vh, 1vh) * 100 - 370px);

  &__cont {
    width: 100%;
    @extend .flex;
    @extend .flex-wrap;
    @extend .flex-v-center;
    @extend .flex-c-center;
    @extend .flex-h-start;
  }

  &--big {
    width: 100%;
    text-align: center;
    @include font('Montserrat', 350px, $COLOR_SILVER, 700, 250px);

    @media screen and (max-width: 992px) {
      font-size: 100px;
      line-height: 75px;
    }
  }

  &--desc {
    width: 100%;
    @extend .flex;
    @extend .flex-wrap;
    @extend .flex-v-start;
    @extend .flex-h-start;
    @include font('Montserrat', 24px, $COLOR_WHITE, 400, 32px);
    margin-bottom: 35px;
    margin-top: 35px;
    text-align: center;
  }

  &--btnLine {
    width: 100%;
    @extend .flex;
    @extend .flex-wrap;
    @extend .flex-v-start;
    @extend .flex-h-center;

    .lnk {
      position: relative;
      top: unset;
      left: unset;
      bottom: unset;
    }
  }
}