.header {
  width: 100%;
  @extend .flex;
  @extend .flex-wrap;
  @extend .flex-v-center;
  @extend .flex-h-center;
  min-height: 100px;
  background: transparent;
  border-bottom: 1px solid transparentize($COLOR_WHITE, .8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  &__cont {
    @extend .flex;
    @extend .flex-wrap;
    @extend .flex-v-center;
    @extend .flex-h-between;
  }

  &LogoLink {
    width: auto;
    @extend .flex;
    @extend .flex-wrap;
    @extend .flex-v-center;
    @extend .flex-h-start;
    text-decoration: none;

    img {
      width: auto;
      height: auto;
      max-width: 90px;
    }
  }

  &Nav {
    width: auto;
    @extend .flex;
    @extend .flex-wrap;
    @extend .flex-v-center;
    @extend .flex-h-center;

    &__list {
      width: auto;
      @extend .flex;
      @extend .flex-wrap;
      @extend .flex-v-center;
      @extend .flex-h-center;
      &--item {
        width: auto;
        @extend .flex;
        @extend .flex-wrap;
        @extend .flex-v-center;
        @extend .flex-h-center;
      }
    }

    &__link {
      width: auto;
      @extend .flex;
      @extend .flex-wrap;
      @extend .flex-v-center;
      @extend .flex-h-center;
    }
  }

  &LangSwitch {
    width: auto;
    @extend .flex;
    @extend .flex-wrap;
    @extend .flex-v-center;
    @extend .flex-h-center;

    &__flag {
      width: auto;
      @extend .flex;
      @extend .flex-wrap;
      @extend .flex-v-center;
      @extend .flex-h-center;
      width: 30px;
      height: 18px;
      border-radius: 2px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      &.current {
        cursor: default;
      }

      &.cs {
        background-image: url('../dist/images/flag-czech.svg');
      }

      &.ru {
        background-image: url('../dist/images/flag-russia.svg');
      }

      &.en {
        background-image: url('../dist/images/flag-usa.svg');
      }
    }

    &__drop {
      width: auto;
      display: none;
      opacity: 0;
      @extend .flex;
      @extend .flex-wrap;
      @extend .flex-v-center;
      @extend .flex-h-center;
    }
  }
}

